# Haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
staff-management.cabal
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*~

# Jetbrains
.idea/workspace.xml
.idea/modules.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/dataSources*
.idea/dataSources/
out/

# Other
*.swp
